<table id="employees-table">
  <tr>
    <th id="id-column"><a href="?sort=id&direction=asc">#</a></th>
    <th id="name-column"><a href="?sort=name&direction=asc">Name</a></th>
    <th id="age-column"><a href="?sort=age&direction=asc">Age</a></th>
    <th id="nickname-column"><a href="?sort=nickname&direction=asc">Nickname</a></th>
    <th id="student-column"><a href="?sort=student&direction=asc">Student</a></th>
    <th id="link-column"></th>
  </tr>
</table>