<h3>Add new record</h3>
<form id="new-employee" name="employee">
  <div class="field">
    <input type="text" name="name" id="name">
  </div>
  <div class="field">
    <input type="number" name="age" id="age">
  </div>
  <div class="field">
    <input type="text" name="nickname" id="nickname">
  </div>
  <div class="field">
    <label for="student">Student</label>
    <input type="checkbox" name="student" id="student">
  </div>
  <div class="actions">
    <input type="submit" value="Add" />
  </div>
</form>